figure { text-align: center; }

p { text-align: justify; }

h1, h2, h3 { line-height:1.2 }

img { width: 500px; }

body {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.6;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  background-color: #eee;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin: 15px;
}

pre {
  overflow-x: scroll;
  padding: 15px;
  background-color: #bbb;
  border-radius: 15px;
  font-weight: bold;
}

#back {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  font-family: monospace;
  color: #ccc;
  position: absolute;
  right: 15px;
  top: 15px;
}

#back:hover { color: #aaa  }
