---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    {%- include switcher.html target=site.posts -%}

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
        </p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!-- don't worry it's just a shynet : https://github.com/milesmcc/shynet -->
<noscript>
    <img src="https://shynet.tic.sh/ingress/c2cbfa34-cd6b-4348-9eb0-7961f4da3aa9/pixel.gif">
</noscript>
<script defer src="https://shynet.tic.sh/ingress/c2cbfa34-cd6b-4348-9eb0-7961f4da3aa9/script.js"></script>
